.footer {
    border-top: $border-2;
    background: map-get($background-colors, footer);
    div .icons-list li {
        border: $border-1-dark;
        box-shadow: 2px 2px 0px 1px;
        a {
            text-decoration: none;
            color: map-get($colors,dark);
        }
    }
    div .contact-info-list {
        list-style: none;
        text-align: center;
        font-weight: 500;
        .contact-info-item {
            margin-top: 5px;
        }
    }
}

.bi {
    font-size: 32px;
}

.list-group-item {
    transition: 0.1s;
    &:hover {
        transform: scale(1.1, 1.1);
        text-shadow: 1px 1px 2px #353434;
    }
}

.hours {
    list-style: none;
    text-align: center;
}

.map-container {
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
    border: 2px solid rgba(20,20,20,0.5);
    padding:0;
    .map-iframe {
        width: 100%;
        height: fit-content;
        padding: 1%;
        
    }
}
