.footer {
    border-top: $border-2;
    background: $footer-background;
    div .icons-list li {
        border: 1px solid rgb(30,30,30);
        box-shadow: 2px 2px 0px 1px;
        a {
            text-decoration: none;
            color: rgb(30,30,30);
        }
    }
    div .contact-info-list {
        list-style: none;
        text-align: center;
        font-weight: 500;
        .contact-info-item {
            margin-top: 5px;
        }
    }
}

.bi {
    font-size: 32px;
}

.list-group-item {
    transition: 0.1s;
    &:hover {
        transform: scale(1.1, 1.1);
        text-shadow: 1px 1px 2px #353434;
    }
}

.map-container {
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
    border: 2px solid rgba(20,20,20,0.5);
    padding:0;
    .map-iframe {
        width: 100%;
        height: fit-content;
        padding: 1%;
        
    }
}
