/* carousel in trabajos.html */
.carousel {
    border-bottom: $border-2;
    border-top: $border-2;
}

/* gallery container */
.gallery-div {
    @include flex-properties (flex,row,wrap,flex-start,stretch);
    gap: 10px;
    list-style: none;
    margin: 5px 5px 10px 5px;
    li {
        @include overlay-properties;
        height: 400px;
        cursor: pointer;
        flex: 1 1 auto;
        img {
            @include border-rad (10px);
            vertical-align: middle;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
        .img-overlay {
            @include flex-properties(flex,row,nowrap,center,center);
            @include border-rad (10px);
            text-align: center;
            font-weight: bold;
            font-size: 1.1em;
            padding:1.5%;
            height: 100%;
            cursor: pointer;
            background: rgba(57, 57, 57, 0.602);
            top: 0;
            transform: scale(0);
            transition: all 0.2s 0.1s ease-in-out;
        }
    }
    &::after {
        content: "";
        flex-grow: 3;
    }   
}

/* overlay on img hover*/
.gallery-div li:hover .img-overlay {
    transform: scale(1);
    transition: 0.5s;
}