.header {
    background-image:url(../imgs/backgrounds/header-bg-2-small.webp);
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    border-bottom: 2px solid $black;
    min-height: 300px;
    max-height: 400px;
    h1 {
        background-color: rgb(25,25,25,0.5);
        font-size: 1.8rem;
        a {
        text-decoration: none;
        font-family: 'Signika', sans-serif;
        color: $headerFontColor;
        text-shadow:  2px 2px 4px $black;
        }
    }
}