.header {
    background-color: map-get($palette, secondary-dark);
    background-image:url(../imgs/backgrounds/header-bg-2-small.webp);
    @include background-img-properties;
    border-bottom: $border-2;
    min-height: 300px;
    max-height: 400px;
    h1 {
        background-color: map-get($palette, overlay);
        font-size: 1.8rem;
        a {
        text-decoration: none;
        font-family: $header-font;
        color: white;
        text-shadow:  2px 2px 4px black;
        }
    }
}