
/* carousel in index.html */
.carousel-index {
    border: none;
    border-radius: 0;
    &>div {
        margin-top: 2%;
    }
}

.carousel-img-index {
    max-height: 500px;
    min-width: auto;
}

/* cards in index.html */
.index-card {
    border: none;
    background-color: map-get($colors,dark-blue);
    position: relative;
    z-index: 90;
    @include border-rad(100%);
    &>img {
        margin-top: 2%;
        z-index: 50;
        @include border-rad(50px);
    }
    p {
        color: $white;
        position: relative;
        padding: 5%;
        z-index: 60;
        font-size: 1.2em;
        font-weight: 500;
    }
    .decorative-bot {
        @include border-rad(100px 0 50px 0);
        min-width: 110%;
        min-height: 47%;
        background-color: map-get($colors, dark);
        position: absolute;
        left: -6%;
        bottom: 0;
        z-index: 10;
    }
    .decorative-top {
        @extend .decorative-bot;
            top: -2%;
            bottom: initial;
            @include border-rad(50px 0 100px 0);
        }
    }


/* imgs in servicios.html */
.aside-img-container {
    @include flex-properties (flex,row,wrap,space-evenly,stretch);
    flex: 1 1 auto;
    gap: 15px;
    padding: 5px;
    margin: 5px;
    .img-container-servicios {
        @include overlay-properties;
        @include flex-properties (flex,row,nowrap,flex-start,center);
        height: 400px;
        max-width: 700px;
        flex-basis: 45%;
        text-align: center;
        font-weight: 100;
        img {
            @include border-rad(5px);
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
        .img-overlay {
            @include flex-properties (flex,row,nowrap,center,center);
            height: 70%;
            padding: 2%;
            h3 {
                font-size: 1.2rem;
            }
        }
    }
}

/* service cards */
.serv-card {
    border: none;
    background: map-get($background-colors, serv-card) ;
    img {
        margin: 10% 0;
    }
}

/* imgs in acercade.html */
.img-container-nosotros {
    @include overlay-properties;
    @include flex-properties (flex,row,nowrap,flex-start,center);
    height: 400px;
    text-align: center;
    font-weight: 100;
    .img-overlay {
        @include flex-properties (flex,row,nowrap,center,center);
        height: 30%;
        padding: 5%;
        h3 {
            font-size: 1rem;
        }
    }
}

/* text in acercade.html */
.section-text {
    @include flex-properties(flex, column, nowrap, center, center);
    p {
        max-width: 75ch;
    }
}