/* carousel in index.html */
.carousel-index {
    border: 2px solid $secondary-dark;
    border-radius: 0;
    max-width: 600px;
    background-color: map-get($palette, primary-light);
    color: map-get($palette, $primary-dark);
    &>div {
        margin-top: 2%;
    }
    .carousel-img-index {
            max-height: 500px;
            min-width: auto;
            border: 1px solid $secondary-dark;
    }
}

/* cards in index.html */
.index-card {
    border: none;
    background-color: map-get($palette,dark);
    position: relative;
    z-index: 90;
    will-change: transform;
    transition: transform 500ms;
    @include border-rad(5%);
    &:hover, &:focus {
        @extend .card-transform;
    }
    &:hover img , &:focus img {
        @extend .img-blur;
    }
    &>img {
        margin-top: 2%;
        z-index: 50;
        filter: grayscale(95%) blur(2px);
        @include border-rad(5%);
    }
    p {
        color: white;
        position: relative;
        padding: 5%;
        z-index: 60;
        font-size: 1.2em;
        font-weight: 500;
    }
}

/* imgs in servicios.html */
.aside-img-container {
    @include flex-properties (flex,row,wrap,space-evenly,stretch);
    flex: 1 1 auto;
    gap: 15px;
    padding: 5px;
    margin: 5px;
    .img-container-servicios {
        @include overlay-properties;
        @include flex-properties (flex,row,nowrap,flex-start,center);
        height: 400px;
        max-width: 700px;
        flex-basis: 45%;
        text-align: center;
        font-weight: 100;
        overflow-x: hidden;
        img {
            @include border-rad(5px);
        }
        .img-overlay {
            @include flex-properties (flex,row,nowrap,center,center);
            height: 70%;
            padding: 2%;
            h3 {
                font-size: 1.2rem;
            }
        }
    }
}

/* service cards */
.serv-card {
    border: none;
    background: map-get($palette, primary-light);
    color: $dark;
    img {
        margin: 10% 0;
    }
}

/* imgs in acercade.html */
.img-container-nosotros {
    @include overlay-properties;
    @include flex-properties (flex,row,nowrap,flex-start,center);
    height: 400px;
    text-align: center;
    font-weight: 100;
    .img-overlay {
        @include flex-properties (flex,row,nowrap,center,center);
        height: 30%;
        padding: 5%;
        h3 {
            font-size: 1rem;
        }
    }
}

/* text in acercade.html */
.section-text {
    @include flex-properties(flex, column, nowrap, center, center);
    p {
        max-width: 75ch;
    }
}

/* buttons in form */
.btn-send {
    color: white;
    background: map-get($palette, primary-dark);
    padding: 8px 20px;
    margin: 1%;
    will-change: transform;
    transition: 300ms;
    &:hover, &:focus{
        color: white;
        background: map-get($palette, primary-light);
        border: $border-2;
        transform: scale(1.02);
    }
}

.btn-delete {
    @extend .btn-send;
    background: map-get($palette, dark);
}

.ver-mas-link {
    text-decoration: none;
    margin-top: 1%;
    padding: 10px;
    display: block;
    width: 100%;
    border: 2px solid $primary-dark;
    background-color: map-get($palette, primary-light);
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    color:  map-get($palette, dark);
    @extend .link-underline-animation;
}