
@media screen and (min-width:568px) {
    .header h1 {
        font-size: 3.5rem;
    }
}

@media screen and (max-width:700px) {
    .aside-img-container {
        flex-direction: column;
    }
    .img-container-servicios {
        flex-basis: 90%;
    }
}

@media screen and (min-width:768px) {
    .header{
        background-image: url(../imgs/backgrounds/header-bg-2-medium.webp)
    }
    .widget-container {
        background-image: url(../imgs/backgrounds/background1-medium.webp);
    }
}

@media screen and (min-width:1200px) {
    .header{
        background-image: url(../imgs/backgrounds/header-bg-2-large.webp);
    }
    .widget-container {
        background-image: url(../imgs/backgrounds/background1-large.webp);
    }
}

@media screen and (min-width:1400px) {
    .widget-container {
        background-image: url(../imgs/backgrounds/background1-xlarge.webp);
    }
}

@media (prefers-reduced-motion: reduce) {
    .slide-in-top, .slide-in-left, .slide-in-right, .slide-in-blurred-bottom {
        animation: none;
    }
}