.nav-parent {
    position: sticky;
    top: 0;
    z-index: 100;
    .navbar {
        background-color: map-get($palette, bg-primary);
        width: 100%;
        border-bottom: $border-2;
        border-left: $border-1;
        border-right: $border-1;
        -webkit-box-shadow: $nav-shadow;
        -moz-box-shadow: $nav-shadow;
        box-shadow: $nav-shadow;
        .active {
            &::after {
                content: "<";
            }
            &::before {
                content: ">";
            }
        }
        .nav-logo {
            width: 70px;
        }
    }
}
.nav-link {
    font-weight: 600;
    color: black;
    @extend .link-underline-animation;
}

