.widget-container {
    background-color: $backup-bg;
    background-image: url(../imgs/backgrounds/background1-small.webp);
    @extend .background-img-properties;
    .taggbox-container {
        max-height: 550px;
        padding: 2%;
    }
}

