.widget-container {
    background-color: map-get($background-colors, backup);
    background-image: url(../imgs/backgrounds/background1-small.webp);
    @extend .background-img-properties;
    .taggbox-container {
        max-height: 550px;
        padding: 2%;
    }
}

