.widget-container {
    background-image: url(../imgs/backgrounds/background1-small.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .taggbox-container {
        max-height: 550px;
        padding-top: 20px;
    }
}

